<!--Por ahora routeroutlet queda en appcomponent-->
<nav>
  <button class="btn btn-outline-dark m1" routerLink="bienvenida">Bienvenida</button>
  <button class="btn btn-outline-dark m1" routerLink="login">Login</button>
  <button class="btn btn-outline-dark m1" routerLink="error">Error</button>
  <button class="btn btn-outline-dark m1" routerLink="DSAJHKDJKHSAJKDAHJKLDASHJK">Otro error</button>
  <button class="btn btn-outline-dark m1" routerLink="bindeos">Bindeos</button>
</nav>
<router-outlet /> <!-- Significa salida de rutas-->





